@import '../other/other';
@import '../other/other768';
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    .header {
      padding-top: 1.3125rem;
      padding-left: 1.75rem;
      padding-right: 2.0625rem;
      padding-bottom: 3rem;
      .navContainer {
        .contLogo {
          .logoText {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
          }
        }
        .navList {
          display: none;
        }
        .navListMob {
          z-index: 100;
          position: fixed;
          top: 0;
          right: -100%;
          width: 296px;
          border-radius: 32px 0px 0px 32px;
          height: 100%;
          background-color: white;
          list-style: none;
          padding-top: 143px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: 40px;
          align-items: start;
          padding-left: 38px;
          transition: right 0.3s ease;
          .navLink {
            font-weight: 500;
            font-size: 28px;
            color: #333;

            .headerNumber {
              font-weight: 600;
              font-size: 24px;
              color: #333;
            }
            .headerNumberHr {
              border: 1px solid #333;
              width: 166px;
              height: 0px;
            }
          }
          .navLink:nth-child(1) {
            font-weight: 500;
            font-size: 28px;
            color: #fff;
            background: #000;
            width: 120%;
            height: 74px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 38px;
            margin-left: -38px;
            margin-bottom: -20px;
          }
          .navLink:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
          }
        }
        .navListMob.active {
          right: 0;
        }

        .navTel {
          display: none;
        }
        .burger-icon {
          width: 2.875rem;
          height: 1.75rem;
          flex-shrink: 0;
          position: relative;
          display: grid;
          place-items: center;
          cursor: pointer;
        }

        .burger-icon span,
        .burger-icon span:after,
        .burger-icon span::before {
          transition-duration: 0.35s;
          content: '';
          width: 2.875rem;
          height: 0.125rem;
          position: absolute;
          border-radius: 0;
          cursor: pointer;
          background: transparent;
        }
        .burger-icon span:after {
          top: 0.875rem;
          background: rgba(23, 25, 28, 1);
          height: 0.15rem;
          opacity: 1;
        }
        .burger-icon span::before {
          opacity: 1;
          bottom: 0.875rem;

          background: rgba(23, 25, 28, 1);
        }
        .burger-icon span {
          background: rgba(23, 25, 28, 1);
        }

        .burger-icon.active span {
          background: transparent;
          position: fixed;
          z-index: 100;
        }

        .burger-icon.active span::before,
        .burger-icon.active span:after {
          width: 21px;
          height: 2.4px;
          bottom: 14px;
          right: -5px;
          top: 0px;
          z-index: 100;
        }

        .burger-icon.active {
          width: 40.25px;
          height: 24.5px;
        }

        .burger-icon.active span::before {
          transform: rotate(-145deg) translate(11px, 1px);
        }

        .burger-icon.active span:after {
          transform: rotate(145deg) translate(11px, 1px);
        }
      }
      .headerInfo {
        padding-top: 3rem;
        padding-right: 0rem;
        gap: 0rem;

        .contHeaderLeft {
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 0.25rem;
          .contHeaderText {
            text-align: center;
            gap: 0.25rem;
            .bigTextHeader {
              @include fonts70056px59px;
            }
            .textBelarusASNG {
              @include fonts60036px44px;
            }
          }
          .contHeaderButtonAImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 23.0625rem;
            gap: 0rem;
            width: 100%;
            margin-bottom: 3.125rem;
            .courierImgMobile {
              display: flex;
              width: 23.0625rem;
              height: 33.5625rem;
              margin-left: 2.1875rem;
            }
            .contHeaderButton {
              max-width: 23.9375rem;
              max-height: 4.75rem;
              width: 100%;
              .headerButton {
                max-width: 23.9375rem;
                max-height: 4.75rem;
              }
              .headerButtonWhiteRect {
                max-width: 23.9375rem;
                max-height: 4.75rem;
              }
            }
          }
          .contHeaderIconInfo {
            max-width: 34.4375rem;
            .contIconText {
              .iconText {
                @include fonts40016px21px;
              }
            }
          }
        }

        .contCourierImg {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}
