main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 83.4375rem;
  padding: 0rem 0.9375rem;
  width: 100%;
  .contPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.75rem;
    max-width: 81.5625rem;
    width: 100%;
    .contPriceTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      text-align: center;
      .priceTitleTextH2 {
        @include fonts60030px36-5px;
      }
      .priceTitleTextH3 {
        @include fonts60024px30px;
      }
    }
    .contList {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      max-width: 1305px;
      width: 100%;
      .contItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 421px;
        height: 36.1875rem;
        width: 100%;
        padding-top: 5.25rem;
        border: 0.0625rem solid rgba(235, 235, 235, 1);
        display: flex;
        gap: 3.75rem;
        .titleItem {
          text-align: center;
          @include fonts60024px30px;
        }
        .contDescriptionItem {
          @include fonts40016px21px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.625rem;
          text-align: center;
          .descrtiption1 {
          }
          .descrtiption2 {
          }
          .descrtiption3 {
          }
        }
      }
      .contItem:nth-child(2) {
        border: 0.0625rem solid $colloryellow;
      }
      .contBuy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.25rem;
        padding: 0rem 5rem;
        width: 100%;
        .itemPrice {
          @include fonts60030px36-5px;
        }
        .buttonBuy {
          display: grid;
          place-items: center;
          max-width: 15.625rem;
          width: 100%;
          height: 3.2088rem;
          background-color: $colloryellow;
        }
      }
    }
    .contAllPrice {
      display: none;
    }
  }
}
