@mixin fonts70028px37px {
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2.3125rem;
}
@mixin fonts60018px22px {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
@mixin fonts60020px24px {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24.3px;
}
@mixin fonts30050px61px {
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  line-height: 61px;
}

@mixin fonts50016px21px {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}
